.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

/* 상단 텍스트 박스 */
.welcomeBox {
  width: 784px;
  height: 85px;
  background-color: #2b2b2b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* 설문 선택 박스 */
.surveyBox {
  width: 784px;
  height: 610px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 30px;
  font-weight: 700;
  padding: 40px;
  text-align: center;
}

/* 설명 텍스트 */
.description {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 40px;
}

/* 버튼 컨테이너 */
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

/* 버튼 스타일 */
.button {
  height: 431px;
  width: 330px;
  background-color: #d3d3d3;
  color: #545454;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* 선택된 버튼 스타일 */
.selected {
  background-color: white;
  border: 2px solid black;
  color: black;
}
